<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">
      I'm a Ruby on Rails developer, plain and simple. I've learned a lot using Rails, and Ruby as well. If it wasn't for my curiosity and some help from
      <a href="http://www.theodinproject.com/">The Odin Project</a> I'd never learned how all of the components that make web development really come together.
      Before jumping into Rails I was learning from <a href="">freeCodeCamp</a> which I also recommend. I've learned lots of good information from lots of places
      on the web and this is where I plan to share what I learn.
    </p>
  </div>

  <%= source_helper("alert alert-primary") %>
  
  <div class="p-4">
    <%= render "topics/topics" %>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/Pstyne"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/andrew-birt-799352160/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://www.facebook.com/Poopnstyne/"><%= fa_icon "facebook" %></a></li>
    </ol>
  </div>
</aside>